* {
	box-sizing: border-box;
}

body {
	margin-top: 0px;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 300;
	color: #062942;
	background-color: #fafafb;
	font-size: small;
	line-height: 1;
	letter-spacing: 0;
	height: 100%;

}

a {
	text-decoration: none;
}

.head {
	width: 100%;
	height: auto;
}

.logoHead {
	width: 120px;
	float: left;
	margin-top: 18px; 
}

.container1 {
	padding: 0px 40px;
	background-color: #ffffff;
	overflow: hidden;

}
.nav1 {
	float: right;
	margin-top: 2px;
}

.nav1 a {
	margin-left: 12px;
	font-size: 12px;
	color: #9096a2;
	line-height: 26px;
	font-weight: 600;
	
}
/*snaps after 947 width*/
.nav2 {
	display: inline-block;
	float: left;
	width: calc(100% - 120px);
	margin-top: 12px;

}

.nav2core {
	float: right;
	display: inline-block;
}
.dropdown {
	
	float: left;
	display: inline-block;
	position: relative;
	margin-left: 30px;
	padding-top: 7px;
	padding-bottom: 26px;

}
.dropdown a {
	color:  #062942;
	float: left;
	display: inline-block;
	font-size: 18px;
	padding-right: 17px;
	line-height: 26px;
	background-image: url('https://www.freshbooks.com/_themes/freshbooks/smux-assets/img/icons/nav-v2/dropdown_blue.svg');
	background-repeat: no-repeat;
	background-position: right 10px;

}

.btn-login {
	margin-left: 70px;
	float: left;
	padding-top: 7px;
	padding-bottom: 26px;
	font-size: 18px;
	line-height: 26px;
}

.login {
	color:  #062942;
}

.login, .btn-tryit {
	margin-left: 30px;
	
}

.btn-tryit {
	    background-color: #85C525;
		color: #FFFFD6;
		border-radius: 5px;
		padding-right: 10px;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		
}

.btn-tryit:hover {
	color: #FFFFD6;
		background-color: #aad662;
}
.hidden {
	display: none;
}

.hero {
		background-image: url("images/home-computer-hero.jpg") ;
		background-color: #FFFFFF;
		margin-top:;
		width: 100%;
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 0px 40px;

	}

	.hero-container {
     padding: 45px 0px ;
     width: 100%;
     display: block;
}

.content {
		width: 45%;
		margin-left: 20px;}

.hero h1 {
		color: #0d83dd;
		line-height: 1.3;
		margin-bottom: 30px;
		font-size: 2.8em;
		font-weight: 300;
	}

	.hero p {
		color: #062942;
		margin-bottom: 30px;
		font-size: 1.3em;
		line-height: 1.55555556;		
}

.cta-subtext-input {
	margin-left: 20px;
}

.input-email {
	margin-bottom: 7px;
	position: relative;
	max-width: 371px;
	width: 100%;
}

#hero-email {
	width: 100%;
	border: 2px solid #c5c7ce;
	border-radius: 5px;
	font-size: 1.3em;
	height: 50px;
	line-height: 1;
	padding:0px 15px;
	color: #062942;
}

.input-pass {
	display: none;
	position: relative;
	max-width: 371px;
	margin-bottom: 7px;
}

#hero-pass {
	width: 100%;
	border: 2px solid #c5c7ce;
	border-radius: 5px;
	font-size: 1.3em;
	height: 50px;
	line-height: 1;
	padding:0px 15px;
	color: #062942;
}

.cta-subtext-btn {
	text-align: center;
	display: block;
	max-width: 371px;
    width: 100%;
    vertical-align: middle;

}

.btn-img {
	position: relative;

}

.cta-btn {
	min-width: 100%;
	font-size: 1.8em;
	line-height: 1.2;
	padding-top: 15px;
	padding-bottom: 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	color:#fff ;
	background-color: #85c525;


}

.cta-btn:hover {
	border: none;
	background-color: #aad662;
}

.btn-img img {
	max-width: 100%;
	width: 116px;
	height: 108px;
	position: absolute;
	bottom: 12px;
	left: 380px;
}

a {
	
}

small a {
	color: #8495a2;
	text-decoration: underline;
}

small a:hover {
	text-decoration: none;
}

small {
	margin-top: 5px;
	color: #8495a2;
	font-size: 1em;
	display: block;
}

.security::before {
	content: url('https://www.freshbooks.com/_themes/freshbooks/smux-assets/img/icons/security-lock.svg');
	vertical-align: middle;
	margin-right: 5px;

}

@media  screen and (max-width:964px ) and (min-width:767px)  {
	.dropdown {
		margin-left: 10px;
	}
	.btn-login {
	margin-left: 10px;
}
   .login, .btn-tryit {
	margin-left: 10px;

}
.hero {
	background-position: 60%;
}
.content {
	margin-left: 0px;
}
.btn-img img {
	display: none;
}
.cta-subtext-input {
	margin-left: 0px;
}

}

@media  screen and (max-width: 784px) and (min-width:480px ) {
    .nav1, .dropdown, .login {
    	display: none;
    }

    .btn-tryit {
    	margin-left: 0;
    }
    .hidden {
        margin-top: 10px;
    	display: inline-block ;
    	margin-left: 30px;
    	
    }

    .hidden img {
    	width: 30px;
    }

    .logoHead {
	width: 100px;
	float: left;
	margin-top: 8px; 
}
.btn-img img {
	display: none;
}

.hero {
	background-image: none;
	background-color: #E5F4FE;

}
.content {
	text-align: center;
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
}

.cta-subtext-input {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.input-pass {
	display: block;
    max-width: 450px;
margin-right: auto;
margin-left: auto;

	
}
.input-email {
	display: block;
	max-width: 450px;
margin-right: auto;
margin-left: auto;
}

#hero-email {
    font-size: 1.5em;
}
#hero-pass {
font-size: 1.5em;
}
.cta-subtext-btn {
	max-width: 450px;
	margin-right: auto;
	margin-left: auto;
}

}

@media  screen and (max-width: 479px) and (min-width:300px ) {
	
    .container1 {
	padding: 0px 15px;}

	.nav1, .dropdown, .login {
    	display: none;
    }

    .btn-login {
    	margin-left: 0px;
    	margin-top: 4px;
    }
    .nav2core {
    	
    	width: calc(100%-100px);
    	

		}

    .btn-tryit {
    	margin-left: 0;
    	
    	
    }
    .hidden {
    	display: inline-block ;
    	margin-left: 10px;
    	margin-top: 18px;

    	
    }
    .hidden img {
    	width: 20px;
    }

    .logoHead {
	width: 100px;
	float: left;
	margin-top: 8px; 
}
.btn-img img {
	display: none;
}

.hero {
	background-image: none;
	background-color: #E5F4FE;

}
.content {
	text-align: center;
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
}

.cta-subtext-input {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.input-pass {
	display: block;
    max-width: 450px;
margin-right: auto;
margin-left: auto;

	
}
.input-email {
	display: block;
	max-width: 450px;
margin-right: auto;
margin-left: auto;
}

#hero-email {
    font-size: 1.2em;
}
#hero-pass {
font-size: 1.2em;
}
.cta-subtext-btn {
	max-width: 450px;
	margin-right: auto;
	margin-left: auto;
}

}

