* {
	box-sizing: border-box;
}

body {
	margin-top: 0px;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #062942;
	background-color: #fafafb;
	font-size: small;
	line-height: 1;
	letter-spacing: 0;
	height: 100%;

}

a {
	text-decoration: none;
}

.head {
	width: 100%;
	height: auto;
}

.logoHead {
	width: 120px;
	float: left;
	margin-top: 18px; 
}

.container1 {
	padding: 0px 40px;
	background-color: #ffffff;
	overflow: hidden;

}
.nav1 {
	float: right;
	margin-top: 2px;
}

.nav1 a {
	margin-left: 12px;
	font-size: 11px;
	color: #9096a2;
	line-height: 26px;
	font-weight: 600;
	
}
/*snaps after 947 width*/
.nav2 {
	display: inline-block;
	float: left;
	width: calc(100% - 120px);
	margin-top: 12px;

}

.nav2core {
	float: right;
	display: inline-block;
}
.dropdown {
	
	float: left;
	display: inline-block;
	position: relative;
	margin-left: 30px;
	padding-top: 7px;
	padding-bottom: 26px;

}
.dropdown a {
	color:  #062942;
	float: left;
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	padding-right: 17px;
	line-height: 26px;
	background-image: url('https://www.freshbooks.com/_themes/freshbooks/smux-assets/img/icons/nav-v2/dropdown_blue.svg');
	background-repeat: no-repeat;
	background-position: right 10px;

}

.btn-login {
	margin-left: 70px;
	float: left;
	padding-top: 7px;
	padding-bottom: 26px;
	font-size: 16px;
	line-height: 26px;
}

.login {
	color:  #062942;
	font-weight: 400;
}

.login, .btn-tryit {
	margin-left: 30px;
	
}

.btn-tryit {
	    background-color: #85C525;
		color: #FFFFD6;
		border-radius: 5px;
		padding-right: 16px;
		padding-left: 16px;
		padding-top: 5px;
		padding-bottom: 6px;
		
}

.btn-tryit:hover {
	color: #FFFFD6;
		background-color: #aad662;
}
.hidden {
	display: none;
}

.hero {
		background-image: url("images/home-computer-hero.jpg") ;
		background-color: #FFFFFF;
		width: 100%;
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 0px 40px;

	}

	.hero-container {
     padding: 45px 0px ;
     width: 100%;
     display: block;
}

.content {
		width: 45%;
		margin-left: 20px;}

.hero h1 {
		color: #0d83dd;
		line-height: 1.3;
		margin-bottom: 30px;
		font-size: 2.8em;
		font-weight: 400;
	}

	.hero p {
		color: #062942;
		margin-bottom: 30px;
		font-size: 1.3em;
		line-height: 1.55555556;		
}

.cta-subtext-input {
	margin-left: 20px;
}

.input-email {
	margin-bottom: 7px;
	position: relative;
	max-width: 371px;
	width: 100%;
}

#hero-email {
	width: 100%;
	border: 2px solid #c5c7ce;
	border-radius: 5px;
	font-size: 1.3em;
	height: 50px;
	line-height: 1;
	padding:0px 15px;
	color: #062942;
}

.input-pass {
	display: none;
	position: relative;
	max-width: 371px;
	margin-bottom: 7px;
}

#hero-pass {
	width: 100%;
	border: 2px solid #c5c7ce;
	border-radius: 5px;
	font-size: 1.3em;
	height: 50px;
	line-height: 1;
	padding:0px 15px;
	color: #062942;
}

.cta-subtext-btn {
	text-align: center;
	display: block;
	max-width: 371px;
    width: 100%;
    vertical-align: middle;

}

.btn-img {
	position: relative;

}

.cta-btn {
	min-width: 100%;
	font-size: 1.8em;
	line-height: 1.2;
	padding-top: 15px;
	padding-bottom: 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	color:#fff ;
	background-color: #85c525;


}

.cta-btn:hover {
	border: none;
	background-color: #aad662;
}

.btn-img img {
	max-width: 100%;
	width: 116px;
	height: 108px;
	position: absolute;
	bottom: 12px;
	left: 380px;
}

a {
	
}

small a {
	color: #8495a2;
	text-decoration: underline;
}

small a:hover {
	text-decoration: none;
}

small {
	margin-top: 5px;
	color: #8495a2;
	font-size: 1em;
	display: block;
}

.security::before {
	content: url('https://www.freshbooks.com/_themes/freshbooks/smux-assets/img/icons/security-lock.svg');
	vertical-align: middle;
	margin-right: 5px;

}
.featured-in-container {
	padding: 0px 40px;
	background-color:#f7f8f9; 
}

.featured-in-container section {
	display: flex;
	align-content: flex-start;
	justify-content: space-between;
	height: 60px;
	width: 100%;
	padding: 20px 0px;
}

.feature {
	font-size: 1.3em;
	vertical-align: middle;
}

/*.featured-in-container img {

	display: inline-block;
	vertical-align: middle;
}*/

.logo-cnet{ 
	        width: 26px;
            height:26px ;
            margin-top: -2px;
 }
.logo-forbes{
              width:56px ;
              height:22px ;
              margin-top: -1px;
 }
.logo-cnn{  
	        width: 35px;
            height:18px ;
            margin-top: 2px;
           }
.logo-nyt{  
	        width:154px ;
            height:21px ;
            margin-top: 2px;
 }
.logo-techcrunch { 
              width:115px ;
                   height:16px ;
                   margin-top: 2px;           
            }
.logo-mashable{  
	             width:81px ; 
                height:14px ;
                margin-top: 4px;
 }
.logo-bloomberg { 
	             width:102px ; 
                 height:18px ;
                 margin-top: 3px;
 }
.logo-fastc{    
	             width:94px ;
               height: 18px;
               margin-top: 1px;
 }

.container3 {
	padding: 0px 40px;
	background-color: #ffffff;
	width: 100%;
	overflow: hidden;
}

.three-col {
	padding-top: 20px;
	padding-bottom: 20px;
	float: left;
}

.col {
	float: left;
	width: 30%;
	margin-right: 5%;
	text-align: center;
}
.three-col .col:last-child {
	margin-right: 0px;
}

.col h3 {
	font-size: 1.52rem;
	font-weight: 400;
	color: #0D83E0;
	margin-bottom: 25px;
}

.col p {
    
	font-size: 1rem;
	line-height: 1.6;
	padding-left:5% ;
	padding-right: 5%;
	color: #062942;
	font-weight: 200;
}

.col img {
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.hide-desktop {
	display: none;
}

.container5 {
	
	background-color: #fff;
}

#slider-nav {
	width: 100%;
	padding: 20px 0;
	display: block;
}

.nav-container {
	background-color: #e5f4fe;
	padding: 0 40px;
}

.nav-container section {
	width: 100%;
	padding: 20px 0;
	display: block;
}

.nav3 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 20px 0;
}

.tab {
	text-decoration: none;
	color: #062942;
	font-size: 1.4em;

}

.slide {
	position: relative;
	background: linear-gradient(to bottom,#e5f4fe 0%,#e5f4fe 85%,#fff 85%,#fff 100%);
	padding: 0 40px;
}

.features1 {
	padding: 0 4%;
	width: 100%;
	display: block;
}

.feat-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.content1 {
	width: 52%;
	min-height: 410px;
	margin-right: 20px;
}

.content1 h3 {
	color: #0d83dd;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.37037037;
	margin-bottom: 20px;
}

.content1 p {
	font-size: 1rem;
line-height: 1.55555556;
}

.content1 a {
	font-size: 1.3em;
	text-decoration: none;
	display: inline-block;
	border: 2px solid #C5C7CE;
	border-radius: 5px;
	color:#062942 ;
	padding-bottom:10px ;
	padding-top:10px ;
	padding-right: 35px;
	padding-left: 35px;
	margin: 20px auto;
}

.content1 a:hover {
	background-color: #0d83dd;
	color: white;
	border: none;
}

.feature-image {
	align-self: flex-end;
	width: 80%;
}

.feature-image img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}

.arrow-right {
	position: absolute;
	right: 0;
	top: 25%;
	cursor: pointer;
}

.feat-container2 {
	display: none;
}

.container4 {
	padding: 0 40px;
	background-color: #fff;
}

.testimonials {
	width: 100%;
	padding: 20px 0 40px 0;
}
.testimonials h2 {
	text-align: center;
	margin-top: 0;
	font-size: 2.05rem;
	font-weight: 400;
	color: #0d83dd;
	line-height: 1.27777778;
}

.testimonials-expls {
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.testimonial-block {
	width: 26%;
	display: flex;
	flex-direction: column;
}

.img-text {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
	padding-bottom: 20px;
}

.img-text img {
	margin-bottom: 1.3rem;
	border-radius: 50%;
max-height: 135px;
max-width: 100%;
height: auto;
}

.img-text q {
	display: block;
	line-height: 1.55555556;
	font-size: 1.05rem;
	color: #4C6577;
}

.testimonial-block hr {
	width: 72px;
border: 2px solid #359ce4;
margin: 0 auto;
box-sizing: content-box;
height: 0;
overflow: visible;
}


.bio {
	text-transform: uppercase;
	margin-top: 10px;
}

.bio p:first-child {
	display: inline-block;
	margin-bottom: 0;
	font-size: 1rem;
}

.bio p:last-child {
font-size: 0.75rem;
color: #8495a2;
line-height: 1.28571429;
}

.container6 {
	padding: 0 40px;
	background-color: #fff;
}

.text-content {
	width: 100%;
	padding: 20px 0;
	display: block;

}

.feature-link-btn{
	border: 1px solid #c5c7ce;
	border-radius: 5px;
	padding: 23px 5px;
	text-align: center;
	line-height: 1.36363636;
	font-size: 1.25rem;
}

.inv-link {
	color: #0d83dd;
	text-decoration: underline;
}
.inv-link:hover {
	text-decoration: none;
}

.feat-btn {
	
		background-color: #85C525;
		color: #FFFFD6;
		border-radius: 5px;
		padding-right: 45px;
		padding-left: 45px;
		padding-top: 10px;
		padding-bottom: 10px; 
		margin-left: 15px;
}
.feat-btn:hover {
		color: #FFFFD6;
		background-color: #aad662;
	}

.container7 {
	padding: 0 40px;
	background-color: #fff;
}	

.two-col {
	display: flex;
	align-items: flex-start;
	width: 100%;
	padding: 20px 0;
	text-align: center;
}

.self-empl, .agency {
	width: 50%;
}

.self-empl {
	padding-right: 2%;
}

.agency {
	padding-left: 2%;
}

.two-col h2 {
	color: #0d83dd;
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.27777778;
}

.self {
	border-radius: 5px;
}

.two-col p {
	font-size: 1rem;
	line-height: 1.55555556;
}

.btn-learnMore {
	display: block;
	font-size: 1.3em;
	text-decoration: none;
	border: 2px solid #C5C7CE;
	border-radius: 5px;
	color:#062942 ;
	padding: 10px;
	line-height: 1.55555556;
	vertical-align: middle;
	margin: 20px auto;
	width: 160px;
}

.btn-learnMore:hover {
	background-color: #0d83dd;
	color: white;
	border: none;
}

@media  screen and (max-width:964px ) and (min-width:767px)  {
	.dropdown {
		margin-left: 10px;
	}
	.btn-login {
	margin-left: 10px;
}
   .login, .btn-tryit {
	margin-left: 10px;

}
.hero {
	background-position: 60%;
}
.content {
	margin-left: 0px;
}
.btn-img img {
	display: none;
}
.cta-subtext-input {
	margin-left: 0px;
}


.logo-mashable {display: none;}
.logo-bloomberg  {display: none;}
.logo-fastc  {display: none;}

.hide-desktop {
	display: none;
}

.slide {
	min-height: 645px;
	background: #E5F4FE;
}
.features1 {
	padding: 0;
}
.feat-container, .feat-container2 {
	display: block;
}
.content1 {
	min-height: inherit;
	text-align: center;
	width: 85%;
	margin: 0 auto;
}
.content1 h3 {
	margin-top: 0;
}

.feature-image {
	width: 100%;
}

.feat-btn {
	display: block;
	width: 275px;
    margin: 18px auto 0;
}


}

@media  screen and (max-width: 784px) and (min-width:480px ) {
    .nav1, .dropdown, .login {
    	display: none;
    }

    .btn-tryit {
    	margin-left: 0;
    }
    .hidden {
        margin-top: 10px;
    	display: inline-block ;
    	margin-left: 30px;
    	
    }

    .hidden img {
    	width: 30px;
    }

    .logoHead {
	width: 100px;
	float: left;
	margin-top: 8px; 
}
.btn-img img {
	display: none;
}

.hero {
	background-image: none;
	background-color: #E5F4FE;

}
.content {
	text-align: center;
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
}

.cta-subtext-input {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.input-pass {
	display: block;
    max-width: 450px;
margin-right: auto;
margin-left: auto;

	
}
.input-email {
	display: block;
	max-width: 450px;
margin-right: auto;
margin-left: auto;
}

#hero-email {
    font-size: 1.5em;
}
#hero-pass {
font-size: 1.5em;
}
.cta-subtext-btn {
	max-width: 450px;
	margin-right: auto;
	margin-left: auto;
}

.logo-mashable {display: none;}
.logo-bloomberg  {display: none;}
.logo-fastc  {display: none;}
.logo-techcrunch {
	display: none;
}

.col {
	width: 100%;
	margin: 0 auto;
}

.col p {
	max-width: 376px;
	margin: 0px auto 20px auto;
}

.hide-desktop {
   display: block;
   background-color: #fff;
}
.hide-desktop section {
	width: 100%;
	padding: 20px 0;
}

.btn-tryit2 {
	display: block;
	margin: 0 auto;
	width: 270px;
	padding: 18px 35px;
	color: #fff;
	font-size: 1.1rem;
	text-decoration: none;
	border-radius: 5px;
	background-color: #85c525;
	text-align: center;

}

.btn-tryit2:hover {
	color: #FFFFD6;
		background-color: #aad662;
}
.subtext {
	font-size: 0.8rem;
	line-height: 1.28571429;
	margin-top: 10px;
	color: #8495a2;
	text-align: center;
	display: block;
}

.nav3 {
	display: none;
}

.slide {
	min-height: 645px;
	background: #E5F4FE;
}
.features1 {
	padding: 0;
}
.feat-container, .feat-container2 {
	display: block;
	padding: 25px 0;

}
.content1 {
	min-height: inherit;
	text-align: center;
	width: 85%;
	margin: 0 auto;
}
.content1 h3 {
	margin-top: 0;
}

.content1 a {
	display: none;
}

.feature-image {
	width: 100%;
}

.arrow-right {
	display: none;
}

.testimonials-expls .testimonial-block:last-child {
	display: none;
}
.testimonial-block {
	width: 45%;
}

.feat-btn {
	display: block;
	width: 275px;
    margin: 18px auto 0;
}

}

@media  screen and (max-width: 479px) and (min-width:300px ) {
	
    .container1 {
	padding: 0px 15px;}

	.nav1, .dropdown, .login {
    	display: none;
    }

    .btn-login {
    	margin-left: 0px;
    	margin-top: 4px;
    }
    .nav2core {
    	
    	width: calc(100%-100px);
    	
		}

    .btn-tryit {
    	margin-left: 0;
    	
    	
    }
    .hidden {
    	display: inline-block ;
    	margin-left: 10px;
    	margin-top: 18px;

    	
    }
    .hidden img {
    	width: 20px;
    }

    .logoHead {
	width: 100px;
	float: left;
	margin-top: 8px; 
}
.btn-img img {
	display: none;
}

.hero {
	background-image: none;
	background-color: #E5F4FE;

}
.content {
	text-align: center;
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
}

.cta-subtext-input {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.input-pass {
	display: block;
    max-width: 450px;
margin-right: auto;
margin-left: auto;

	
}
.input-email {
	display: block;
	max-width: 450px;
margin-right: auto;
margin-left: auto;
}

#hero-email {
    font-size: 1.2em;
}
#hero-pass {
font-size: 1.2em;
}
.cta-subtext-btn {
	max-width: 450px;
	margin-right: auto;
	margin-left: auto;
}
.logo-mashable {display: none;}
.logo-bloomberg  {display: none;}
.logo-techcrunch {display: none;}
.logo-fastc  {display: none;}
.logo-nyt {display: none;}
.logo-cnn {display: none;}

.col {
	width: 100%;
	margin: 0 auto;
}

.col p {
	max-width: 376px;
	margin: 0px auto 15px auto;
}

.hide-desktop {
   display: block;
   background-color: #fff;
}
.hide-desktop section {
	width: 100%;
	padding: 20px 0;
}

.btn-tryit2 {
	display: block;
	margin: 0 auto;
	width: 270px;
	padding: 19px 29px 21px 24px;
	color: #fff;
	font-size: 1.1rem;
	text-decoration: none;
	border-radius: 5px;
	background-color: #85c525;
	text-align: center;

}

.btn-tryit2:hover {
	color: #FFFFD6;
		background-color: #aad662;}

.subtext {
	font-size: 0.8rem;
	line-height: 1.28571429;
	margin-top: 10px;
	color: #8495a2;
	text-align: center;
	display: block;
}

.slide {
	min-height: 645px;
	background: #E5F4FE;
}

.nav3 {
	display: none;
}

.features1 {
	padding: 0;
}
.feat-container, .feat-container2 {
	display: block;
	padding: 25px 0;
	
}
.content1 {
	min-height: inherit;
	text-align: center;
	width: 85%;
	margin: 0 auto;
}

.content1 a {
	display: none;
}
.content1 h3 {
	margin-top: 0;
}

.feature-image {
	width: 100%;
}

.arrow-right {
	display: none;
}

.testimonials-expls {
	display: block;
}

.testimonial-block {
	width: 100%;
	display: block;
}

.feature-link-btn {
	font-size: 1.15rem;
}

.feat-btn {
	display: block;
	max-width: 275px;
    margin: 18px auto 0;
}

}

